@model HappyMoney.ViewModels.EditBudgetViewModel

@{
    ViewBag.Title = string.Format("Editing {0}", Model.Name);
    ViewBag.AppScript = "editBudget";
    ViewBag.Identifier = Model.Guid;
}

<h1>@Model.Name</h1>

<table data-bind="foreach: envelopes">
    <tr>
        <td><input type="text" data-bind="value: name" /></td>
        <td><input type="text" data-bind="value: capacity" /></td>
    </tr>
</table>

<div id="capacity">
    Total budget: <span data-bind="text: capacity">@Model.Capacity</span>
</div>

<a href="#" data-bind="click: saveChanges">Save</a>