@model HappyMoney.ViewModels.BudgetSummaryViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Identifier = Model.Guid;
    ViewBag.AppScript = "budgetSummary";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Name</h1>
            </hgroup>
            <div id="budgetStructure" style="float: left; width: 40%;">

                <div id="envelopes">
                    Envelopes
                    <ul data-bind="foreach: envelopes">
                        <li><span data-bind="text: name"></span>: <span data-bind="text: balance"></span> / <span data-bind="text: capacity"></span></li>
                    </ul>
                </div>

                <div id="accounts">
                    Accounts
                    <ul data-bind="foreach: accounts">
                        <li><span data-bind="text: name"></span>: <span data-bind="text: balance"></span></li>
                    </ul>
                </div>

            </div>

            <div id="transactionsContainer" data-bind="with: transactionSet" style="float: right; width: 60%;">

                Transactions

                <div id="newTransaction">
                    Payee: <input type="text" data-bind="value: newTransactionPayee" /><br />
                    Total: <input type="text" data-bind="value: newTransactionTotal" /><br />
                    Account: <select data-bind="options: $parent.accounts,
                                                optionsText: function (account) { return account.name },
                                                value: selectedAccount"></select><br />

                    <button data-bind="click: postTransaction">POST TRANSACTION</button>
                </div>

                <table data-bind="foreach: transactions">
                    <tr>
                        <td>
                            <span data-bind="text: payee"></span> &mdash; <span data-bind="text: total"></span>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $parent.deleteTransaction">DELETE TRANSACTION</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: both;" />

            <a href="@string.Format("/Budget/{0}/Edit", Model.Name.Replace(' ', '-'))">Edit Budget Envelopes</a>
        </div>
    </section>
}