@model HappyMoney.ViewModels.BudgetSummaryViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.Identifier = Model.Guid;
    ViewBag.AppScript = "budgetSummary";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Name</h1>
            </hgroup>
            <div id="budgetStructure" style="float: left; width: 40%;">

                <div id="envelopes">
                    Envelopes
                    <ul data-bind="foreach: envelopes">
                        <li><span data-bind="text: name"></span>: <span data-bind="text: displayBalance"></span> / <span data-bind="text: displayCapacity"></span></li>
                    </ul>
                </div>

                <div id="accounts">
                    Accounts
                    <ul data-bind="foreach: accounts">
                        <li><span data-bind="text: name"></span>: <span data-bind="text: displayBalance"></span></li>
                    </ul>
                </div>

            </div>

            <div id="transactionsContainer" data-bind="with: transactionSet" style="float: right; width: 60%;">

                Transactions

                <div id="newTransaction">
                    <table>
                        <tr>
                            <td>Payee:</td>
                            <td><input type="text" data-bind="value: newTransactionPayee" /></td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td><input type="text" data-bind="value: newTransactionTotal" /></td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td><input type="date" class="date-picker" data-bind="value: newTransactionDate" /></td>
                        </tr>
                        <tr>
                            <td>Account:</td>
                            <td>
                                <select data-bind="options: $parent.accounts,
                                                   optionsText: function (account) { return account.name },
                                                   value: selectedAccount"></select>
                            </td>
                        </tr>
                    </table>

                    <button data-bind="click: postTransaction">POST TRANSACTION</button>
                </div>

                <table data-bind="foreach: transactions">
                    <tr>
                        <td>
                            <span data-bind="text: payee"></span>
                        </td>
                        <td>
                            <span data-bind="text: displayTotal"></span>
                        </td>
                        <td>
                            <span data-bind="text: displayDate"></span>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $parent.deleteTransaction">DELETE TRANSACTION</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: both;" />

            <a href="@string.Format("/Budget/{0}/Edit", Model.Name.Replace(' ', '-'))">Edit Budget Envelopes</a>
        </div>
    </section>
}